# External modules
Packages
DevPackages

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Luau Language Server files
sourcemap.json

# Personal notes
/*.pages

# Wally types
wally-package-types
.DS_Store
